.container__big-card {
  margin-left: 15px;
  margin-right: 15px;
  width: 400px;
  height: 450px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.big-card__title > h1 {
  font-size: 20px;
  margin-top: 10px;
}

big-card__description {
  margin-top: 10px;
}

.big-card__description > p > a {
  color: gray;
}

.big-card__photo > img {
  display: flex;
  width: 100%;
  min-width: 400px;
}
